<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to the Freelance Canvas</h1>
  <h2>
    This is the home page for the<a href="#">Freelance Canvas Project</a>
    created by TYP-HD
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("lemon-shutter-photography.jpg", alt: "Canvas logo"),
            'https://www.vectorstock.com/royalty-free-vectors/food-photography-logo-vectors' %>
<%#= link_to image_tag("kitten.jpg", alt: "Cat image"), 'https://cdn.learnenough.com/kitten.jpg'%>