<footer class="footer">
  <small>
    The <a href="https://web.500px.com/">Freelance Canvas Project</a>
    by <a href="http://web.cse.ohio-state.edu/~shareef.1/3901.su19/labs/project6.shtml">TYP-HD</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://web.cse.ohio-state.edu/~shareef.1/3901.su19/labs/project6.shtml">TYP-HD</a></li>
    </ul>
  </nav>
</footer>